<div class="position-relative flex-grow-1 d-flex flex-column mx-4">

    <%=link_to "New Club", new_club_path, id: "new-club-button", class: "btn btn-light mb-4" %>

    <div id="clubs" class="">   
        <%@clubs.each do |club|%>
            <div class="club mx-auto shadow-sm rounded bg-white">
                <div class="club-card-frame">
                    <img src="<%=asset_path(url_for(club.background_img))%>">
                </div>
                
                <div class="m-2">
                    <h3 class="m-2"><%=club.name%></h3>
                    <p class="member-count position-absolute text-white m-2 px-2 py-1 rounded">Members: <%="#{club.member_count}/#{club.capacity}"%></p>

                    <div class="links border-top d-flex justify-content-between align-items-center mx-2 pt-2">
                        <%=link_to "View", club_path(club)%>
                        <%if club.member?(current_user.id)%>
                                <% membership = Membership.find_by(club_id: club.id, member_id: current_user.id)%>
                                <%if membership.blocked == true %>
                                    <%=button_to "Blocked", club_path(club), class: "btn btn-danger disabled btn-sm"%>
                                <%else%>
                                    <%=button_to "Leave club", membership_path(membership.id), method: :delete, class: "btn btn-danger btn-sm"%>
                                <%end%>
                        <%else%>
                            <%=button_to "Join club", memberships_path(club_id: club.id), method: :post, class: "btn btn-primary btn-sm"%>
                        <%end%>
                    </div>
                </div>
            </div>
        <%end%>
    </div>
</div>

