<%if @club.owner.id == current_user.id%>
    <%# make sure that if someone enters edit club in url, person will not be able to edit club %>
    <%=link_to "Edit Club", edit_club_path(@club)%>
<%end%>


<%# find a way to transfer info of membership id to destroy %>
<%# <%=link_to "Leave Club", memberships_path(@club), method: :delete%> 

<br><br>
<%=link_to "Club Posts", club_posts_path(@club)%>
<%=link_to "Add post!", new_club_post_path(@club)%>

<%=@club.owner.name%>

<%=@club.name%><br>
<%=@club.description%><br>
<p>Member count: <%="#{@club.member_count}/#{@club.capacity}"%></p>

<br>
<%# <%=link_to "Add post", new_post_path(post: club.build.posts)%> 
<br>

<h2>Members!</h2>
<%@club.members.each do |member|%>
    <p><%=member.name%></p>

    <div>
        <%=link_to "View profile", user_profile_path(member)%>

        <%membership = Membership.find_by(member_id: member.id, club_id: @club.id)%>
        <%if current_user.id == @club.owner_id%>
            <%=link_to "Block", membership_path(membership), method: :patch%>
            <p>I am blocked: <%="#{membership.blocked}"%></p>
            <br><br>
        <%end%>
    </div>
<%end%>


<%# owner can block/unblock self and any member of club. make sure later owner cannot block self. %>

<%# show case all posts in this club here %>