<p>Club main page. If you want to view this club page (or maybe instead, make posts/comment), need to be a member.</p>

<%if @club.owner.id == current_user.id%>
    <%# make sure that if someone enters edit club in url, person will not be able to edit club %>
    <%=link_to "Edit Club", edit_club_path(@club)%>
<%end%>


<%# find a way to transfer info of membership id to destroy %>
<%=link_to "Leave Club", memberships_path(), method: :delete%>




<br><br>
<%=link_to "Club Posts", club_posts_path(@club)%>
<%=link_to "Add post!", new_club_post_path(@club)%>

<%=@club.owner.name%>

<%=@club.name%><br>
<%=@club.description%><br>
<p>Member count: <%="#{@club.member_count}/#{@club.capacity}"%></p>

<br>
<%# <%=link_to "Add post", new_post_path(post: club.build.posts)%> 
<br>

<h2>Members!</h2>
<%@club.members.each do |member|%>
    <p><%=member.name%></p>
<%end%>

<%# show case all posts in this club here %>