<%=form_with model: profile, url: user_profile_path, method: "patch" do |form|%>

    <div class="form-group my-3">
        <%=form.label :profile_pic%>
        <%=form.file_field :profile_pic, class: "form-control"%>
    </div>

    <div class="form-group my-3">
        <%=form.label :bio%>
        <%=form.text_area :bio, class: "form-control text-area"%>
    </div>

    <div class="form-group my-3">
        <%=form.submit "Save", :class => "btn btn-light border"%>
    </div>
<%end%>