<%=form_with model: profile, url: user_profile_path, method: "patch" do |form|%>

    <%unless profile.errors.messages.empty?%>
        <div class="alert alert-danger">
            <%profile.errors.full_messages.each do |msg|%>
                <li class=""><%=msg%></li>
            <%end%>
        </div>
    <%end%>

    <div class="form-group my-3">
        <%=form.label :image%>
        <%=form.file_field :image, class: "file-field form-control", direct_upload: true%>
    </div>

    <div class="form-group my-3">
        <%=form.label :bio%>
        <%=form.text_area :bio, class: "form-control text-area"%>
    </div>

    <div class="form-group my-3">
        <%=form.submit "Save", :class => "btn btn-light border"%>
    </div>
<%end%>