<h1>Profile</h1>

<%# add profile pic %>

<h2>Name: </h2>
<%=@user.name%>

<h2>Gender:</h2>
<%=@user.gender%>

<h2>Email: </h2>
<%=@user.email%>

<h2>Bio:</h2>
<p><%=@user.profile.bio%></p>


<%if current_user.id == @user.id%>
    <%=link_to "Edit Settings", edit_registration_path(current_user)%>
    <%=link_to "Edit Profile", edit_user_profile_path(current_user) %>
<%end%>