<div class="d-flex justify-content-center">

    <button class="post-button d-flex justify-content-center align-items-center rounded-circle border border-white">
        <%=link_to "+", new_club_post_path(@club), class:"text"%>
    </button>

    <div id="main-posts" class="d-flex flex-column">
        <%@posts.each do |post|%>
            <div class="post d-flex flex-column bg-white shadow-sm m-2 p-3">
                <div class="author-info d-flex">
                    <div class="square-frame">
                        <img class="" src="<%=asset_path(url_for(post.user.profile.attached_img))%>">
                    </div>
                    <div class="d-flex flex-column mx-2">
                        <%=link_to "#{post.user.name}", user_profile_path(post.user), class: "profile-link"%>
                        <p class="date m-0"><%=post.date%></p>
                    </div>
                </div>

                <div class="post-text my-3">
                    <p class="title mb-1"><%=post.title%></p>
                    <p class="body m-0"><%=post.body%></p>
                </div>

                <% if post.image.attached?%>
                    <img class="post-pic" src= "<%=url_for(post.image)%>">
                <%end%>
            
                <p>Likes: <%=post.likes.count%></p>
                
                <%=link_to "View more", wall_post_path(post)%>
            </div>
        <%end%>
    </div>
</div>