<%if flash[:error]%>
    <div class="alert alert-danger">
        <%flash[:error].each do |msg|%>
            <li><%=msg%></li>
        <%end%>
    </ul>
<%end%>

<%# add stylign to this  %>
<%= form_with model: comment, url: route do |form|%>
    <%=form.label :comment%><br>
    <%=form.text_field :body%>

    <br>
    <%=form.submit%>
<%end%>
