<div class="comments mt-5">
    <%#postable_name inherited form post#show %>
    <%@post = Post.find(post_id)%>
    
    <%@post.comments.each do |comment|%>
        <div class="comment py-2 border-bottom">
            <b><%=comment.user.name%> </b>
            <i><%=comment.date%></i>
            <p>Likes: <%=comment.likes.count%></p>
            <%=comment.body%>

            <%if current_user.id == comment.user_id%>
                <%=link_to "Delete", [@postable_name, @post, comment], method: :delete%>
            <%else%>
                <%if comment.liked?(current_user) %>
                    <%=button_to "Unlike", unlike_comment_path(@post, comment), method: :delete %>
                <%else%>
                    <%=button_to "Like", like_comment_path(@post, comment), method: :post%>
                <%end%>
            <%end%>
        </div>
    <%end%>
</div>

