<div class="chatroom mx-auto d-flex flex-column">
    <h4 class="text-white m-0 border-bottom p-3"><%= @club.name%> chatroom</h4>

    <div class="chatroom-chat d-flex flex-column" data-club-id="<%=@club.id%>">
        <% @messages.each do |msg|%>
            <div class="message bg-light shadow-sm p-2 m-2 rounded">
                <div class="text">
                    <div class="meta-info d-flex">
                        <p class="name m-0 text-primary"><%=msg.user.name%></p>
                        <p class="datetime m-0 px-2 text-muted"><%=local_time(msg.created_at, "%d-%m-%Y %H:%M") %></p>
                    </div>
                    <p class="msg m-0"><%=msg.message%></p>
                </div>
            </div>
        <%end%>
    </div>

    <%=form_with(model: @message, local: false, id: "message-form", class: "form-group d-flex") do |form|%>
        <%=form.text_field :message, autocomplete: "off", class: "form-control" %>
        <%=form.hidden_field :messageable_id, value: @chatroom.id%>
        <%=form.hidden_field :messageable_type, value: "Chatroom"%>

        <%=form.submit "Send", class:"message-btn btn bg-light border"%>
    <%end%>
</div>