<div class="chat d-flex flex-column overflow-hidden">
    <div class="chat-partner-info d-flex align-items-center border-bottom bg-light p-2">
        <img class="" src=<%=asset_path(url_for(them.profile.attached_img))%>>

        <div class="d-flex align-items-center">
            <%=link_to "#{them.name}", user_profile_path(them), class: "profile-link px-2"%>
            <div class="online-icon <%=them_status%>" data-user-id="<%=@them.id%>"></div>
        </div>
    </div>

    <div class="private-chat d-flex flex-column"  data-chat-id="<%=@chat.id%>" data-partner-id="<%=@them.id%>">
        <% @messages.each do |msg|%>
            <%add_styling = (msg.user.id == me.id)? "me": "them"%>

            <div class="message rounded shadow-sm px-2 py-1 m-2 <%=add_styling%>">
                <div class="text">
                    <div class="meta-info">
                        <p class="datetime text-muted m-0"><%=local_time(msg.created_at, "%d-%m-%Y %H:%M") %></p>
                    </div>
                    <p class="msg"><%=msg.message%></p>
                </div>
            </div>
        <%end%>
    </div>

    <%# should disable send button if friendship not found. you can no longer communicate with someone whos not ur friend %>
    <%=form_with(model: @message, local: false, id: "message-form", class: "d-flex form-group") do |form|%>
        <%=form.text_field :message, autocomplete: "off", class: "w-100 form-control" %>
        <%=form.hidden_field :messageable_id, value: @chat.id%>
        <%=form.hidden_field :messageable_type, value: "Chat"%>

        <%=form.submit "Send", disabled: disable_submit, class: "message-btn btn btn-primary"%>
    <%end%>
</div>

