<%=form_with model: @post, url: wall_post_path(@post.id) do |form|%>
    <%# same content as _post_form partial %>

    <div class="form-container my-4 p-3 bg-light">
        <h2>Edit Wall Post</h2>

        <div class="post-errors">
            <%unless @post.errors.messages.empty?%>
                <div class="alert alert-danger">
                    <%@post.errors.full_messages.each do |msg|%>
                        <li><%=msg%></li>
                    <%end%>
                </div>
            <%end%>
        </div>

        <div class="form-group my-2">
            <%=form.label :title%>
            <%=form.text_field :title, class: "form-control"%>
        </div>

        <div class="form-group my-2">
            <%=form.label :body%>
            <%=form.text_area :body, class: "form-control body"%>
        </div>

        <div class="form-group my-2">
            <%=form.label :image%>
            <%=form.file_field :image, class: "file-field form-control"%>
            <small class="form-text text-muted">(Optional)</small>
        </div>

        <%=form.submit "Submit", class:"submit-button w-100 text-white border p-2 mt-3"%>
    </div>
<%end%>