<div id="homepage" class="d-flex justify-content-center">
    <div class="plus-button">
        <%=link_to "", new_wall_post_path, class: "link" %>
        <img class="" src="<%=asset_path("icons8-plus-96.png")%>">
    </div>

    <div id="main-posts" class="d-flex flex-column align-items-center">
        <%@posts.each do |post|%>
            <div class="post d-flex flex-column bg-white shadow-sm mb-4 p-3">

                <div class="author-info d-flex">
                    <div class="square-frame">
                        <img class="" src="<%=asset_path(url_for(post.user.profile.attached_img))%>">
                    </div>
                    <div class="d-flex flex-column mx-2">
                        <%=link_to "#{post.user.name}", user_profile_path(post.user), class: "profile-link"%>
                        <p class="date m-0"><%=post.date%></p>
                    </div>
                </div>

                <div class="post-text my-3">
                    <p class="title mb-1"><%=post.title%></p>
                    <p class="body m-0"><%=post.body%></p>
                </div>

                <%# dont forget to add restrictions to dimensions of img %>
                <% if post.image.attached?%>
                    <img class="post-pic" src= "<%=url_for(post.image)%>">
                <%end%>
            
                <p>Likes: <%=post.likes.count%></p>
                
                <%=link_to "View more", wall_post_path(post)%>
            </div>
        <%end%>
    </div>

    <div id="friend-column" class="d-flex flex-column justify-content-start">
        <p class="bg-light text-secondary border p-2 mb-1">Friends</p>
        <%current_user.friends.each do |friend|%>
            <%online_icon_class = (friend.status.online === true)? "isOnline" : "isOffline"%>

            <div class="friend-card bg-white d-flex my-1">
                
                <div class="square-frame">
                    <img class="" src="<%=asset_path(url_for(friend.profile.attached_img))%>">
                </div>

                <div class="d-flex flex-column mx-2 justify-content-center w-100">

                    <div class="d-flex justify-content-between align-items-center">
                        <%=link_to "#{friend.name}", user_profile_path(friend), class: "profile-link"%>
                        <div class="online-icon <%=online_icon_class%> ms-2 me-1" data-user-id="<%=friend.id%>"></div>
                    </div>

                    <div class="links">
                        <%=link_to "View profile", user_profile_path(friend)%>
                    </div>
                </div>
            </div>
        <%end%>
    </div>
</div>