<h1>Homepage</h1>
<p>display user and friends posts <p>

<%@posts.each do |post|%>
    <div>
        <b><%=post.title%></b><br>
        <% if post.image.attached?%>
            <img class = post-pic src= "<%=url_for(post.image)%>">
        <%end%><br>

        <%=post.body%>

        <p>Likes: <%=post.likes.count%></p>
        <p>Author: <%=post.user.name%></p>
        
        <%=link_to "View more", post_path(post.id)%>
    </div>
<%end%>