<h1><%=@post.title%></h1>

<%if @post.image.attached?%>
    <img class="post-img" src="<%=url_for(@post.image)%>">
<%end%>

<div>
    <%=@post.body%><br>

    <p>Likes: <%=@post.likes.count%><p>
</div>

<br>

<%if current_user.id == @post.user_id%>
    <%=link_to "Edit", edit_post_path(@post)%>
    <%=link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %>
<%else%>
    <%has_liked = @post.liked?(current_user)? true : false %>
    <%=button_to "Like", like_path(@post), method: :post, disabled: has_liked%>
<%end%>

<br><br>

<%=render "comment_form", comment: @comment %>


<%@post.comments.each do |comment|%>
    <div>
        <b><%=comment.user.name%> </b>
        <i><%=comment.date%></i>
        <br>
        <%=comment.body%>
        <%if current_user.id == comment.user_id%>
            <%=link_to "delete", comment_path(comment), method: :delete,data: {confirm: "Are you sure?"}%>
        <%end%>
    </div>
<%end%>


