<!DOCTYPE html>
<html>
  <head>
    <title>Fakebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%if notice%>
      <p class="notice alert-success m-0"><%= notice %></p>
    <%end%>
    <%if alert%>
      <p class="alert alert-primary m-0"><%= alert %></p>
    <%end%>

    <div class="mt-0 jumbotron jumbotron-fluid main-color">
      <h1>Fakebook</h1>
    </div>

    <div class="topnav">
      <%if current_user != nil%>

        <%=link_to "Homepage", root_path %>
        <%=link_to "Profile", user_profile_url(current_user.id) %> 
        <%=link_to "Create New Post", new_post_path %>
        <%=link_to "Clubs", clubs_path%>
        <%=link_to "Manage Friends", friend_requests_path(current_user.id)%>
        <%=link_to "Notifications", notifications_path%>
        <%=link_to "Logout", destroy_user_session_path, method: :delete%>
      <%end%>
    </div>
    
    <%= yield %>
  </body>
</html>
