<!DOCTYPE html>
<html>
  <head>
    <title>Fakebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="topnav">
      <%if current_user != nil%>
        
        <%=link_to "Homepage", root_path %>
        <%=link_to "Profile", user_profile_url(current_user.id) %> 
        <%=link_to "Create New Post", new_post_path %>
        <%=link_to "Manage Friends", friend_requests_path(current_user.id)%>
        <%=link_to "Notifications", notifications_path%>
        <%=link_to "Logout", destroy_user_session_path, method: :delete%>
      <%end%>
    </div>
    
    <%= yield %>
  </body>
</html>
